# Chapter 2 Assignment

## Elizabeth Calkins

In [10]:
import pandas as pd

In [12]:
ramen = pd.read_csv('ramen-ratings.csv')
print(ramen)

               Brand                                            Variety Style  \
0          New Touch                          T's Restaurant Tantanmen    Cup
1           Just Way  Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...  Pack
2             Nissin                      Cup Noodles Chicken Vegetable   Cup
3            Wei Lih                      GGE Ramen Snack Tomato Flavor  Pack
4     Ching's Secret                                    Singapore Curry  Pack
...              ...                                                ...   ...
2572           Vifon  Hu Tiu Nam Vang ["Phnom Penh" style] Asian Sty...  Bowl
2573         Wai Wai                     Oriental Style Instant Noodles  Pack
2574         Wai Wai                                     Tom Yum Shrimp  Pack
2575         Wai Wai                               Tom Yum Chili Flavor  Pack
2576        Westbrae                                         Miso Ramen  Pack

       Country  Stars
0        Japan   3.75
1       Taiwan   1.00
2          USA   2.25
3       Taiwan   2.75
4        India   3.75
...        ...    ...
2572   Vietnam   3.50
2573  Thailand   1.00
2574  Thailand   2.00
2575  Thailand   2.00
2576       USA   0.50

[2577 rows x 5 columns]

In [14]:
ramen.head()

,Brand,Variety,Style,Country,Stars
0,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75
1,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00
2,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25
3,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75
4,Ching's Secret,Singapore Curry,Pack,India,3.75

In [16]:
ramen.tail()

,Brand,Variety,Style,Country,Stars
2572,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5
2573,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.0
2574,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.0
2575,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.0
2576,Westbrae,Miso Ramen,Pack,USA,0.5

In [18]:
ramen.describe()

             Stars
count  2577.000000
mean      3.654676
std       1.015331
min       0.000000
25%       3.250000
50%       3.750000
75%       4.250000
max       5.000000

In [20]:
ramen.nunique()

Brand       355
Variety    2410
Style         7
Country      38
Stars        42
dtype: int64

In [22]:
ramen[ramen['Country'] == 'Vietnam']

,Brand,Variety,Style,Country,Stars
18,Binh Tay,Mi Hai Cua,Pack,Vietnam,4.00
52,Uni-President,Mushroom Flavor,Pack,Vietnam,0.00
143,Mum Ngon,Lau Tom Chua Cay,Pack,Vietnam,3.50
224,Vifon,Viet Cuisine Bun Rieu Cua Sour Crab Soup Insta...,Bowl,Vietnam,5.00
365,Acecook,Oh! Ricey Pork Flavour,Pack,Vietnam,4.00
...,...,...,...,...,...
2486,Binh Tay,Mi Chay Mushroom,Pack,Vietnam,2.75
2535,Ve Wong,Kung-Fu Chicken Flavor,Pack,Vietnam,2.75
2570,Ve Wong,Mushroom Pork,Pack,Vietnam,1.00
2571,Vifon,Nam Vang,Pack,Vietnam,2.50
2572,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.50

In [26]:
ramen[['Brand','Style']]

               Brand Style
0          New Touch   Cup
1           Just Way  Pack
2             Nissin   Cup
3            Wei Lih  Pack
4     Ching's Secret  Pack
...              ...   ...
2572           Vifon  Bowl
2573         Wai Wai  Pack
2574         Wai Wai  Pack
2575         Wai Wai  Pack
2576        Westbrae  Pack

[2577 rows x 2 columns]

In [32]:
ramen.loc[:,'Country']

0          Japan
1         Taiwan
2            USA
3         Taiwan
4          India
          ...
2572     Vietnam
2573    Thailand
2574    Thailand
2575    Thailand
2576         USA
Name: Country, Length: 2577, dtype: object

In [34]:
sorted_ramen = ramen.sort_values('Stars',ascending=False)

In [36]:
ramen.Country.replace({'USA':'United States'}, inplace=True)
print(ramen.head())

            Brand                                            Variety Style  \
0       New Touch                          T's Restaurant Tantanmen    Cup
1        Just Way  Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...  Pack
2          Nissin                      Cup Noodles Chicken Vegetable   Cup
3         Wei Lih                      GGE Ramen Snack Tomato Flavor  Pack
4  Ching's Secret                                    Singapore Curry  Pack

         Country  Stars
0          Japan   3.75
1         Taiwan   1.00
2  United States   2.25
3         Taiwan   2.75
4          India   3.75

In [38]:
num_countries = ramen.Country.nunique()
print(f'Number of Countries Represented in Data: {num_countries}')

Number of Countries Represented in Data: 37

In [40]:
print(f'{'Stars':>20}')
ramen. groupby ('Country') ['Stars'].mean().sort_values(ascending = False). head (3)

               Stars

Country
Brazil      4.350000
Sarawak     4.333333
Cambodia    4.200000
Name: Stars, dtype: float64

In [44]:
print(f'{'Stars':>23}')
ramen.groupby('Country' )['Stars'].mean().sort_values(ascending = True).head(3)

                  Stars

Country
Nigeria        1.500000
Canada         2.243902
Netherlands    2.483333
Name: Stars, dtype: float64

In [46]:
%%time
print(f'{'Stars':>23}')
ramen.groupby('Country' )['Stars'].mean().sort_values(ascending = True).head(3)

                  Stars
CPU times: user 3.33 ms, sys: 799 μs, total: 4.13 ms
Wall time: 3.38 ms

Country
Nigeria        1.500000
Canada         2.243902
Netherlands    2.483333
Name: Stars, dtype: float64